doctype html
html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/account.css')
		link(rel='stylesheet', href='/location.css')
		link(rel='stylesheet', href='sweetalert2.css')
	body
		include navbar.pug

		if userName
			.script
				alert()

		.container.text-center
			h1.mt-white.text-center.mt-5.display-3 Edit Profile

		.container
			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					#carouselControls.carousel.slide(data-ride='carousel', data-interval="false")
						ol.carousel-indicators
							li.active(data-target='#carouselIndicators', data-slide-to='0')
							li(data-target='#carouselIndicators', data-slide-to='1')
							li(data-target='#carouselIndicators', data-slide-to='2')
						.carousel-inner
							.carousel-item.active(data-interval="false")
								img.img-fluidd-block.w-100(src='/images.jpeg', alt='...')
							.carousel-item(data-interval="false")
								img.d-block.w-100(src='/images2.jpeg', alt='...')
							.carousel-item(data-interval="false")
								img.d-block.w-100(src='/images3.jpg', alt='...')
						a.carousel-control-prev(href='#carouselControls', role='button', data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next(href='#carouselControls', role='button', data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next 
					a#UpdateImg.btn.btn-success.btn-block.btn-lg(href='/user/images') Change Image(s)
		
					.card-body
						h4.card-title Public Details
						hr
						form#account(name="account", action='', method='POST' novalidate)
							.form-group
								label(for='name') Name
								input#userName.form-control(type='text' placeholder='First Name' name='userName' value=userFirstName)
								p#firstNameError
								input#userSurname.form-control(type='text' placeholder='Last Name' name='userSurname' value=userLastName)
								p#surnameError

							label(for='age') Age
							p#AgeDisplay.pl-3.text-small 69
							//- input#userGender(type='text' placeholder='gender' name='userGender')

							.form-group
								label(for='gender') Gender
								if userGender === 'Male'
									select#userGender.custom-select(name='gender')
										option(value='Male') Male
										option(value='Female') Female
								else
									select#userGender.custom-select(name='gender')
										option(value='Female') Female
										option(value='Male') Male
							
							.form-group
								label(for='orientation') Sexual Orientation
								//- input#userSexPref(type='text' placeholder='sexualPreference' name='userSexPref')
								if userOrientation === 'hetero'
									select#userSexPref.custom-select(name='sexPref')
										option(value='hetero') Heterosexual
										option(value='bi') Bisexual
										option(value='homo') Homosexual
								else if userOrientation === 'bi'
									select#userSexPref.custom-select(name='sexPref')
										option(value='bi') Bisexual
										option(value='hetero') Heterosexual
										option(value='homo') Homosexual
								else
									select#userSexPref.custom-select(name='sexPref')
										option(value='homo') Homosexual
										option(value='bi') Bisexual
										option(value='hetero') Heterosexual
							hr
							h4.card-title Bio
							textarea#userBio(placeholder='Biography' name='userBio' form="account" rows='3').form-control= userBio

							button#UpdateAcc.btn.btn-success.btn-block.btn-lg(type='button', onclick='postPublicDetails()', value='account') Update Profile
							p#deetsPara.text-success.pl-3
							

			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					.card-body
						h4.card-title Location
						hr
						input#pac-input.form-control(type='text' placeholder='Enter a location')
						#map
						p#locPara.text-success.pl-3
						//- #infowindow-content
							img#place-icon(src='' width='16' height='16')
							span#place-name.title
							br
							span#place-address

			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					.card-body
						h4.card-title Interests
						hr
						form#interests(name="interests", action='', method='POST' novalidate)
							input#userInterests.form-control(type='text' placeholder='Interests' name='userInterests')
							button#UpdateInterest.btn.btn-success.btn-block.btn-lg(type='submit', value='interests') Update Interests
						p#interestError
						p#interestsPara.text-success.pl-3


			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					.card-body
						h4.card-title Username
						hr
						input#userLogin.form-control(type='text' placeholder='Username' name='userLogin' value=username)
						button#UpdateUsername.btn.btn-success.btn-block.btn-lg(type='button', onclick='changeUsername()', value='username') Update Username
						p#unamePara.text-success.pl-3

			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					.card-body
						h4.card-title Email
						hr
						input#userEmail.form-control(type='email' placeholder='Email' name='userEmail' value=userEmail)
						button#UpdateUsername.btn.btn-success.btn-block.btn-lg(type='button', onclick='changeEmail()', value='email') Update Email
						p#emailPara.text-success.pl-3


			.container.mx-auto.my-3(style='max-width: 1500px;')
				.card.mx-auto(style='max-width: 1500px;')
					.card-body
						h4.card-title Password
						hr
						label(for='oldpass') Current Password
						input#userPass.form-control(type='password' placeholder='Current Password' name='userPass')

						label(for='pass') New Password
						input#userNewPass.form-control(type='password' placeholder='New Password' name='userNewPass')

						label(for='confpass') Confirm New Password
						input#userConfNew.form-control(type='password' placeholder='Confirm New Password' name='userNewConf')

						button#UpdateDetails.btn.btn-success.btn-block.btn-lg(type='submit', value='password') Update Password
						p#pwPara.text-success.pl-3
				

		//- .container.mx-auto
		//- 	.row
		//- 		.col
		//- 			.card.my-5.mx-auto(style='max-width:400px')
		//- 				.card-body
		//- 					block content
		//- 						h1 Profile
		//- 						hr
		//- 						form#addUser(name="adduser",action='api/update', method='POST')
		//- 							label(for='userName') Change Username
		//- 							input#users.userName(type='text' placeholder='userName' name='userName')

		//- 							label(for='firstName') Change First Name
		//- 							input#users.firstName(type='text' placeholder='firstName' name='firstName')

		//- 							label(for='lastName') Change Last Name
		//- 							input#users.lastName(type='text' placeholder='lastName' name='lastName')

		//- 							label(for='email') Change Email
		//- 							input#users.email(type='text' placeholder='email' name='email')

		//- 							label(for='password') Change Password
		//- 							input#users.password(type='password' placeholder='password' name='password')

		//- 							label(for='confirmPassword') Confirm New Password
		//- 							input#users.confirmPassword(type='password' placeholder='confirmPassword' name='confirmPassword')
									
		//- 							button#UpdatePro.btn.btn-success.btn-block.btn-lg(type='submit', value='register') Update Profile
		//- 		.col
		//- 			.card.my-5.mx-auto(style='max-width:400px')
		//- 				.card-body
		//- 					block content
		//- 						h1 Preferences
		//- 						hr
		//- 						form#addUser(name="adduser",action='', method='POST')
		//- 							label(for='gender') Change Gender
		//- 							input#users.gender(type='text' placeholder='gender' name='gender')

		//- 							label(for='location') Change Location
		//- 							input#users.location(type='text' placeholder='location' name='location')

		//- 							label(for='sexualPreference') Change Sexual Preference
		//- 							input#users.sexualPreference(type='text' placeholder='sexualPreference' name='sexualPreference')

		//- 							label(for='interests') Change Interests
		//- 							input#users.interests(type='text' placeholder='interests' name='interests')

		//- 							label(for='bio') Change Bio
		//- 							textarea#users.bio(placeholder='Biography' name='bio' form="userPrefs" rows='3')

		//- 							button#UpdatePref.btn.btn-success.btn-block.btn-lg(type='submit', value='register') Update Preferences

		include footer.pug	
			
		//- SCRIPTS
		include js_includes.pug
		script(src="/location.js")
		script(src="/account.js")
		script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBbM1RQ9usKaBQ8uIWG2QwbfEYy9lFdOF8&libraries=places&callback=initMap' async='' defer='')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js")
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")