doctype html
html
	head
		if !userLogged
			script.
				window.location.replace = "/user/login";
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/profile.css')
	body
		include navbar.pug

		.container
			h1.mt-white.text-center.mt-5.display-3 Profile
			
			.container.mx-auto.my-3(style='max-width: 1200px;')
				.card.mx-auto(style='max-width: 1200px;')
					#carouselControls.carousel.slide(data-ride='carousel', data-interval="false")
						ol.carousel-indicators
							li.active(data-target='#carouselIndicators', data-slide-to='0')
							li(data-target='#carouselIndicators', data-slide-to='1')
							li(data-target='#carouselIndicators', data-slide-to='2')
						.carousel-inner
							.carousel-item.active(data-interval="false")
								if imageExists
									img.img-fluidd-block.w-100(src=userImage, alt='...')
								else
									img.img-fluidd-block.w-100(src='/images.png', alt='...')
							if imageArray
								each value in imageArray
									if value != userImage
										.carousel-item(data-interval="false")
											img.d-block.w-100(src=value, alt='...')
							//- .carousel-item(data-interval="false")
								img.d-block.w-100(src='/images2.jpeg', alt='...')
							//- .carousel-item(data-interval="false")
								img.d-block.w-100(src='/images3.jpg', alt='...')
						a.carousel-control-prev(href='#carouselControls', role='button', data-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next(href='#carouselControls', role='button', data-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.sr-only Next 
		
					.card-body
						//- h1.display-4.card-title Jeff Society
						h1.display-4.card-title #{userFirstName} #{userLastName}
						//- h4.card-subtitle.mb-2 #{age}
						h4.card-subtitle.mb-2 Age: 69
						h4.card-subtitle.mb-2 Fame Rating: #{userFame}
						//- p.card-text
						//- 	| #{distance}   <--- Maybe use something to generalize the distance based on how far away they are. So instead of numbers,
												it's something like: Close, Nearby, Distant, Far etc. idk
						if(sameUser != 1)
							label.h6 Distance:						
							p.card-text
								| 420kms away
						//- p.card-text
						//- 	| #{orientation}, #{gender}
						label.h6 I am:
						if userOrientation === 'hetero'
							p.card-text
								|  Heterosexual, #{userGender}
						else if userOrientation === 'homo'
							p.card-text
								|  Homosexual, #{userGender}
						else
							p.card-text
								|  Bisexual, #{userGender}
						label.h6 Looking For:
						if userOrientation === 'hetero'
							if userGender === 'Male'
								p.card-text Women 
							else
								p.card-text Men
						else if userOrientation === 'homo'
							if userGender === 'Male'
								p.card-text Men
							else
								p.card-text Women
						else
							p.card-text Men or Women
						hr
						h4.card-title Interests
						//- p.card-text
						//- 	| #{interests}
						p.card-text
							| #programs #memes #gangweed
						hr
						h4.card-title Bio
						p.card-text
							| #{userBio}
						//- p.card-text
						//- 	| Is a gamer who lives in a society, programs the programs, is very hastag relatables, has a N-word pass.

		include footer.pug

			//- SCRIPTS
		include js_includes.pug