html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
		link(rel='stylesheet', href='/sweetalert2.css')
		//- script(src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js")
		//- script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
	body
		include navbar.pug
		
		.container.text-center
			h1.mt-white.text-center.mt-5.display-3#heading Recommendations

		.container.my-3.mx-auto(style="max-width:750px")
			button#SortFilter.btn.btn-info.btn-block(type='button', data-toggle="collapse", data-target=".multi-collapse", aria-expanded="false", aria-controls="Filter Sort") Sort/Filter
			//- .row.mx-auto
			//- 	button#SortBtn.btn.btn-info(type='button', data-toggle="collapse", data-target="#Sort", aria-expanded="false", aria-controls="Sort") Sort
			//- 	button#FilterBtn.btn.btn-primary(type='button', data-toggle="collapse", data-target="#Filter", aria-expanded="false", aria-controls="Filter") Filter
			.row
				.col-sm-11.py-2.mx-auto
					#Sort.collapse.multi-collapse
						.card.card-body(style='max-width: 750px;')
							h6 Sort By:
							hr
							#radio.funkyradio
								.form-group
									.funkyradio-success
										input#AgeUp(type='radio', name='radio', value="AgeUp")
										label(for='AgeUp') Age, ascending
									.funkyradio-success
										input#AgeDown(type='radio', name='radio', value="AgeDown")
										label(for='AgeDown') Age, descending
								.form-group
									.funkyradio-success
										input#FameUp(type='radio', name='radio', value="FameUp")
										label(for='FameUp') Fame, ascending
									.funkyradio-success
										input#FameDown(type='radio', name='radio', value="FameDown")
										label(for='FameDown') Fame, descending
								.form-group
									.funkyradio-success
										input#Close(type='radio', name='radio', value="Closer")
										label(for='Close') Closer
									.funkyradio-success
										input#Far(type='radio', name='radio', value="Further")
										label(for='Far') Farther

				.col-sm-11.py-2.mx-auto
					#Filter.collapse.multi-collapse
						.card.card-body(style='max-width: 750px;')
							.container
								h6 Filter By:
								hr
								
								input#minFame.form-control(type='text', placeholder='Minimum Fame', name='fameMin')
								br
								
								input#ageDiff.form-control(type='text', placeholder='Age Range', name='ageDiff')
								br
								
								input#DistanceDiff.form-control(type='text', placeholder='Max Distance', name='DistanceDiff')
								br

								input#userInterests.form-control(type='text' placeholder='Interest' name='userInterests')
								small#usernameHelpBlock.form-text.text-muted
									| Only one interest
				
						button#Submit.btn.btn-success.btn-block.btn-lg(type='button', onclick='sendParams();', name='filterSort') Apply


			.container(style="max-width:750px")
				.grid
					if arrayExists
						each val in userArray
							if maxDistEntered
								if (val.distance < maxDist)
									.grid-item
										.card.text-black
											a(href="http://localhost:8080/user/profile/"+val.username) 
												img.card-img-top.img-fluid(src=val.userImage, alt='User Profile Image')
											.card-body.mbg-light-grey
												h5.card-title.text-capitalize #{val.userFirstName} #{val.userLastName}
												if val.distance == 9999
													p Distance : unknown
												else	
													p Distance : #{val.distance}km
												p Fame : #{val.fame}
												p Age : #{val.userAge}
												.row.mx-auto
													//- below buttons need proper like and dislike functions
													button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
														i.fa.fa-heart
													button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
														i.fa.fa-thumbs-down
							else
								.grid-item
									.card.text-black
										a(href="http://localhost:8080/user/profile/"+val.username) 
											img.card-img-top.img-fluid(src=val.userImage, alt='User Profile Image')
										.card-body.mbg-light-grey
											h5.card-title.text-capitalize #{val.userFirstName} #{val.userLastName}
											if val.distance == 9999
												p
													i.fa.fa-map-marker.mx-2.text-danger
													|  Distance : unknown
											else	
												p
													i.fa.fa-map-marker.mx-2.text-danger
													|  Distance : #{val.distance}km
											p
												i.fa.fa-trophy.mx-2.text-warning
												|  Fame : #{val.fame}
											p
												i.fa.fa-birthday-cake.mx-2
												|  Age : #{val.userAge}
											.row.mx-auto
												//- below buttons need proper like and dislike functions
												button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
													i.fa.fa-heart
												button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
													i.fa.fa-thumbs-down


			//- .container(style='max-width: 1100px;min-width:320px;')
			//- 	.card(style='max-width: 1100px;min-width:320px;')
			//- 		.row
			//- 			.card-columns
			//- 				//- start of loop
			//- 				if arrayExists
			//- 					each val in userArray
			//- 						if maxDistEntered
			//- 							if (val.distance < maxDist)
			//- 								//- .col-lg-4.col-md-6.col-sm
			//- 									//- .container.my-4
			//- 								.card.text-black(style='max-width: 300px;min-width: 300px; min-height: 340px;')
			//- 									a(href="http://localhost:8080/user/profile/"+val.username) 
			//- 										img.card-img-top.img-fluid(src=val.userImage, alt='User Profile Image')
			//- 									.card-body.mbg-light-grey
			//- 										h5.card-title #{val.userFirstName} #{val.userLastName}
			//- 										if val.distance == 9999
			//- 											p Distance : unknown
			//- 										else	
			//- 											p Distance : #{val.distance}km
			//- 										p Fame : #{val.fame}
			//- 										p Age : #{val.userAge}
			//- 										.row.mx-auto
			//- 											//- below buttons need proper like and dislike functions
			//- 											button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
			//- 												i.fa.fa-heart
			//- 											button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
			//- 												i.fa.fa-thumbs-down
			//- 						else
			//- 							//- .col-lg-4.col-md-6.col-sm
			//- 								//- .container.my-4
			//- 							.card.text-black(style='max-width: 300px;min-width: 300px; min-height: 340px;')
			//- 								a(href="http://localhost:8080/user/profile/"+val.username) 
			//- 									img.card-img-top.img-fluid(src=val.userImage, alt='User Profile Image')
			//- 								.card-body.mbg-light-grey
			//- 									h5.card-title #{val.userFirstName} #{val.userLastName}
			//- 									if val.distance == 9999
			//- 										p Distance : unknown
			//- 									else	
			//- 										p Distance : #{val.distance}km
			//- 									p Fame : #{val.fame}
			//- 									p Age : #{val.userAge}
			//- 									.row.mx-auto
			//- 										//- below buttons need proper like and dislike functions
			//- 										button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
			//- 											i.fa.fa-heart
			//- 										button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
			//- 											i.fa.fa-thumbs-down
		script(src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js")
		script(src='/recommendations.js')
		include js_includes.pug
		//- script.
		//- 	var $grid = $(".grid").imagesLoaded(function() {
		//- 		$grid.masonry({
		//- 			itemSelector: ".grid-item"
		//- 		});
		//- 	});
		script(src="/profileActions.js")
		include footer.pug