html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
	body
		include navbar.pug
		
		.container.text-center
			h1.mt-white.text-center.mt-5 Recommendations

		.container.my-3.mx-auto(style='max-width: 1100px;')
			button#SortFilter.btn.btn-info.btn-block(type='button', data-toggle="collapse", data-target=".multi-collapse", aria-expanded="false", aria-controls="Filter Sort") Sort/Filter
			//- .row.mx-auto
			//- 	button#SortBtn.btn.btn-info(type='button', data-toggle="collapse", data-target="#Sort", aria-expanded="false", aria-controls="Sort") Sort
			//- 	button#FilterBtn.btn.btn-primary(type='button', data-toggle="collapse", data-target="#Filter", aria-expanded="false", aria-controls="Filter") Filter
			.row
				.col-sm-11.py-2.mx-auto
					#Sort.collapse.multi-collapse
						.card.card-body(style='max-width: 1100px;')
							h6 Sort By:
							hr
							#radio.funkyradio
								.funkyradio-success
									input#AgeUp(type='radio', name='radio' value="AgeUp")
									label(for='AgeUp') Age, ascending
								.funkyradio-success
									input#AgeDown(type='radio', name='radio', checked='checked' value="AgeDown")
									label(for='AgeDown') Age, descending
								.funkyradio-success
									input#FameUp(type='radio', name='radio' value="FameUp")
									label(for='FameUp') Fame, ascending
								.funkyradio-success
									input#FameDown(type='radio', name='radio', value="FameDown")
									label(for='FameDown') Fame, descending
								.funkyradio-success
									input#Close(type='radio', name='radio', value="Closer")
									label(for='Close') Closer
								.funkyradio-success
									input#Far(type='radio', name='radio', value="Further")
									label(for='Far') Farther

				.col-sm-11.py-2.mx-auto
					#Filter.collapse.multi-collapse
						.card.card-body(style='max-width: 1100px;')
							.container
								h6 Filter By:
								hr
								
								input#minFame.form-control(type='text', placeholder='Minimum Fame', name='fameMin')
								br
								
								input#ageDiff.form-control(type='text', placeholder='Minimum Age', name='ageDiff')
								br
								
								input#DistanceDiff.form-control(type='text', placeholder='Minimum Distance', name='DistanceDiff')
								br

								input#userInterests.form-control(type='text' placeholder='Interests' name='userInterests')
				
						button#Submit.btn.btn-success.btn-block.btn-lg(type='button', onclick='sendParams();', name='filterSort') Apply



			
		.container(style='max-width: 1100px;min-width:320px;')
			.card(style='max-width: 1100px;min-width:320px;')
				.row
					//- start of loop
					if arrayExists
						each val in userArray
							if maxDistEntered
								if (val.distance < maxDist)
									.col-lg-4.col-md-6.col-sm
										.container.my-4
											.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
												//- Below 'a' to be updated with a var, to echo out username to take to profile on click
												//- a(href='/user/profile/VAR') 
													//- can probs remove the style from here
												a(href="http://localhost:8080/user/profile/"+val.username) 
													img.img-fluid(src=val.userImage, alt='User Profile Image', style='width: 300px; height: 300px')
												.card-body.mbg-light-grey
													//- below 'h5' to be updated with the user's full name and surname, from vars, during loop
													//- h5.card-title #{userName} #{userSurname}
													h5.card-title #{val.userFirstName} #{val.userLastName}
													if val.distance == 9999
														p Distance = unknown
													else	
														p Distance = #{val.distance}
													p Fame = #{val.fame}
													.row.mx-auto
														//- below buttons need proper like and dislike functions
														button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
															i.fa.fa-heart
														button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
															i.fa.fa-thumbs-down
							else
								.col-lg-4.col-md-6.col-sm
									.container.my-4
										.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
											//- Below 'a' to be updated with a var, to echo out username to take to profile on click
											//- a(href='/user/profile/VAR') 
												//- can probs remove the style from here
											a(href="http://localhost:8080/user/profile/"+val.username) 
												img.img-fluid(src=val.userImage, alt='User Profile Image', style='width: 300px; height: 300px')
											.card-body.mbg-light-grey
												//- below 'h5' to be updated with the user's full name and surname, from vars, during loop
												//- h5.card-title #{userName} #{userSurname}
												h5.card-title #{val.userFirstName} #{val.userLastName}
												if val.distance == 9999
													p Distance = unknown
												else	
													p Distance = #{val.distance}
												p Fame = #{val.fame}
												.row.mx-auto
													//- below buttons need proper like and dislike functions
													button.btn.btn-success.w-50(value=val.username, onclick='likeUser(this.value)')
														i.fa.fa-heart
													button.btn.btn-danger.w-50(value=val.username, onclick='dislikeUser(this.value)')
														i.fa.fa-thumbs-down

		script(src='/recommendations.js')
		include js_includes.pug
		include footer.pug