html
	head
		title Matcha | #{title}
		include header_items.pug
		link(rel='stylesheet', href='/recommendations.css')
	body
		include navbar.pug
		
		.container.text-center
			h1.mt-white.text-center.mt-5 Recommendations

		.container.my-5.mx-auto(style='max-width: 1100px;')
			button#SortFilter.btn.btn-info.btn-block(type='button', data-toggle="collapse", data-target=".multi-collapse", aria-expanded="false", aria-controls="Filter Sort") Sort/Filter
			.card(style='max-width: 1100px;')
				.row
					.col-sm-11.py-2.mx-auto
						#Sort.collapse.multi-collapse
							.card.card-body Sort by:
								hr
								//- .col-md-4
								//- 	.col-md-6
								.funkyradio
									.funkyradio-success
										input#radio1(type='radio', name='radio')
										label(for='radio1') Age, ascending
									.funkyradio-success
										input#radio2(type='radio', name='radio', checked='')
										label(for='radio2') Age, descending
									.funkyradio-success
										input#radio3(type='radio', name='radio')
										label(for='radio3') Fame, ascending
									.funkyradio-success
										input#radio4(type='radio', name='radio')
										label(for='radio4') Fame, descending
									.funkyradio-success
										input#radio5(type='radio', name='radio')
										label(for='radio5') Closer
									.funkyradio-success
										input#radio6(type='radio', name='radio')
										label(for='radio6') Farther
									br
									input#userInterests.form-control(type='text' placeholder='Interests' name='userInterests')
					.col-sm-11.py-2.mx-auto
						#Filter.collapse.multi-collapse
							.card.card-body Filter by:
								.container
									hr
									h2 
        								small Fame range
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='range.value=value')
										output#range 50
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='rangePrimary.value=value')
										output#rangePrimary 50
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='rangeSuccess.value=value')
										output#rangeSuccess 50
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='rangeInfo.value=value')
										output#rangeInfo 50
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='rangeWarning.value=value')
										output#rangeWarning 50
									.range
										input(type='range', name='range', min='1', max='100', value='50', onchange='rangeDanger.value=value')
										output#rangeDanger 50


			
		.container(style='max-width: 1100px;min-width:320px;')
			.card(style='max-width: 1100px;min-width:320px;')
				.row
					//- start of loop
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								//- Below 'a' to be updated with a var, to echo out username to take to profile on click
								//- a(href='/user/profile/VAR') 
								a(href='#') 
									//- can probs remove the style from here
									img.img-fluid(src='/images.png', alt='User Profile Image', style='width: 300px; height: 300px')
								.card-body.mbg-light-grey
									//- below 'h5' to be updated with the user's full name and surname, from vars, during loop
									//- h5.card-title #{userName} #{userSurname}
									h5.card-title Till
									.row.mx-auto
										//- below buttons need proper like and dislike functions
										button.btn.btn-success.w-50(value=value, onclick='likeUser(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='dislikeUser(this.value)')
											i.fa.fa-thumbs-down
					//- end of loop
					//- BELOW : Extra cards to be commented out and killed later
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px;min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images2.jpeg', alt='...', style='width: 300px; height: 300px')
								.card-body.mbg-light-grey
									h5.card-title John
									.row.mx-auto
										button.btn.btn-success.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-thumbs-down
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images3.jpg', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Tom
									.row.mx-auto
										button.btn.btn-success.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-thumbs-down
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images.png', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Zed
									.row.mx-auto
										button.btn.btn-success.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-thumbs-down
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images3.jpg', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Tim
									.row.mx-auto
										button.btn.btn-success.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-thumbs-down
					.col-lg-4.col-md-6.col-sm
						.container.my-4
							.card.text-black.mx-auto.mb-5(style='max-width: 300px;min-width: 300px; min-height: 340px;')
								a(href='#')
									img.img-fluid(src='/images2.jpeg', alt='...', style='width: 300px; height: 300px;')
								.card-body.mbg-light-grey
									h5.card-title Problems
									.row.mx-auto
										button.btn.btn-success.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-heart
										button.btn.btn-danger.w-50(value=value, onclick='deleteImage(this.value)')
											i.fa.fa-thumbs-down

		include js_includes.pug
		include footer.pug